* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-image: url(./img/4161612.jpg);
  background-size: cover;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

@media (min-width:320px) {
  body {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(132, 240, 255, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: -4rem; */

  }
}